<div class="twocol">
<% ['Topography', 'Frequency Shift', 'Excitation'].each do |name| %>
	<% image = nanonis.images.select {|f| f.title == name && f.direction == direction}.first %>
	<% if image %>
		<%= png_tag(image,'one-third') %>
	<% end %>
<% end %>
</div>