<!DOCTYPE html>
<html>
<head>
<link href='/css/reset.css' rel='stylesheet' type='text/css' />
<link href='/css/humanmsg.css' rel='stylesheet' type='text/css' />
<link href='/css/style.css' rel='stylesheet' type='text/css' />
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<!--
<script src='/js/cufon-yui.js'></script>
<script src='/js/HelveticaNeueLT_Com_45_Lt_300.font.js'></script>
-->
<script src='/js/humanmsg.js'></script>
<script src='/js/application.js'></script>
<script type='text/javascript'>
  //<![CDATA[
    window.jQuery || document.write('<script src="/js/vendor/jquery.js"><\/script>')
  //]]>
</script>

</head>
<body>
<div class="container">
<%= yield %>
</div>
<script type="text/javascript">
/*
var cufonElements = 'h1, h2, h3, h4, h5,' +
                    'ul#parameters';
Cufon.replace(cufonElements,{hover:true});
Cufon.now();
*/
</script>
</body>
</html>
