<% @sample ||= sample %>

<%= partial :"sample/header", :locals => {sample: @sample} %>

<div class="row">

<div class="twocol">
<h2>Images (<%=@sample.images.count %>)</h2>
	<% @sample.images.select {|f| f.title == 'Height | FLATTEN | REMOVEDPOLYBG (2,2)'}.each do |image| %>
		<%= svg_tag(image,'one-third') %>
	<% end %>
</div>



</div>

<%= partial :"_editor", :locals => {url: "#{request.fullpath}"} %>